<div class="container-fluid">
    <div class="container-fluid" style="margin-top:10px">
        <h2 class="text-info">Add Product</h2>
        <form [formGroup]="myForm" (submit)="Submit()" enctype="multipart/form-data">
            <div class="p-4 rounded border row">
                <div class="col-8">
                    <div class="form-group row">
                        <div class="col-4">
                            <label>Name</label>
                        </div>
                        <div class="col-8">
                            <input formControlName="Name"  class="form-control"/>
                            <span *ngIf="myForm.controls['Name'].touched && myForm.controls['Name'].value==''" class="text-danger">Name is Required</span>
                        </div>
                        
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label >Price</label>
                        </div>
                        <div class="col-8">
                            <input formControlName="Price" type="number"  class="form-control"/>
                            <span *ngIf="myForm.controls['Price'].touched && myForm.controls['Price'].value==''" class="text-danger">Price is Required</span>

                        </div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-4">
                            <label asp-for="Image">Image</label>
                            <!-- <input type="hidden" formControlName="Image"/> -->
                            

                        </div>
                        <div class="col-8">
                            <input id="image-file"  class="form-control file-input" type="file" name="myImage" accept="image/x-png,image/gif,image/jpeg"  (change)="showImagePreview();onFileSelected($event)"/>
                            <span *ngIf="!myForm.controls['Image'].valid" class="text-danger">Image is Required</span>
                        </div>  
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label>Color</label>
                        </div>
                        <div class="col-8">
                            <input formControlName="PColor" type="text"  class="form-control" />
                            <span *ngIf="!myForm.controls['PColor'].valid && myForm.controls['PColor'].touched" class="text-danger">Color is Required</span>
                        </div>
                        <span asp-validation-for="PColor" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label >Available Quantity</label>
                        </div>
                        <div class="col-8">
                            <input formControlName="Availablequantity" type="number" class="form-control"/>
                            <span *ngIf="!myForm.controls['Availablequantity'].valid && myForm.controls['Availablequantity'].touched" class="text-danger">Available Quantity is Required</span>

                        </div>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="aroductTypeID">Product Type</label>
                        </div>
                        <div class="col-8">
                            <select formControlName="ProductTypeID"  class="form-control">
                                <option type="number" *ngFor="let ptype of producttypes" [value]="ptype.id" >{{ptype.productType}}</option>
                            </select>
                            <span *ngIf="!myForm.controls['ProductTypeID'].valid && myForm.controls['ProductTypeID'].touched" class="text-danger">Product Type is Required</span>

                           
                        </div>
                    </div>
            
                    <div class="form-group row">
                        <div class="col-4"></div>
                        <div class="col-8 ">
                            <input type="submit" class="btn btn-success" value="Add Product" [disabled]="!myForm.valid" style="margin-right:10px;"/>
                            <a href="/productslist" class="btn btn-info text-secondary">Back to List</a>
                        </div>
                    </div>
                </div>
                <div class="col-3" id="image-preview">
                    <img id="img" width="auto" height="300px" style="border-radius: 5px;border: 1px solid #efefef"/>
                </div>
            </div>
        </form>
        </div>
</div>
